*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates 

debug/
*/debug/
**/debug/

release/
*/release/
**/release

releases/
*/releases/
**/releases

x64/
*/x64/
**/x64

x86/
*/x86/
**/x86/

.vs/
*/.vs
**/.vs